@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Sacramento&display=swap');
body{
  text-align: center;
}
.dev{
  background-color: #E4F5F9;
  color: #66BFBF;

}
.about{
  background-color: white;
  margin: auto 150px;
}
.skills{
  background-color: #E4F5F1;
  margin: auto;
}
.project{
  background-color: white;
  margin: auto 100px;
}
.hobbie{
  background-color: #E4F5F9;
  margin: auto;
}
.footer{
  background-color: #66BFBF;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
.horiz{
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 4px;
  width: 10%;
}

.container{
  font-size: 20px;
}
.btp{
  padding: 2% 0%;
}

#features{
  padding: 2% 5%;
}

#features-1{
  padding: 2% 14%;
}

#features-2{
  padding: 10% 10%;
}
.skillset{
  text-align: center;
  padding: 5%;
}
h1{
  font-size: 60px;
  font-family: 'Dancing Script', cursive;
}
h2{
  color: black;
  font-size: 35px;
}
h3{
  color: black;
  font-size: 25px;
}
p{
  color: #25282A;
  font-size: 18px;
}
.bgimg{
  opacity: 2.0;
}


