@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Sacramento&display=swap');
body{
  text-align: center;
}
.dev{
  background-color: #E4F5F9;
  color: #66BFBF;

}
.about{
  background-color: white;
  margin: auto 150px;
}
.skills{
  background-color: #E4F5F1;
  margin: auto;
}
.project{
  background-color: white;
  margin: auto 100px;
}
.hobbie{
  background-color: #E4F5F9;
  margin: auto;
}
.footer{
  background-color: #66BFBF;
}
.button {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 12px;
}
hr{
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 4px;
  width: 10%;
}
h1{
  font-size: 60px;
  font-family: 'Dancing Script', cursive;
}
h2{
  color: black;
  font-size: 35px;
}
h3{
  color: black;
  font-size: 25px;
}
p{
  color: #25282A;
  font-size: 18px;
}
