@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Sacramento&display=swap');
body{
  text-align: center;
}
.dev{
  background-color: #E4F5F9;
  color: #66BFBF;

}
.about{
  background-color: white;
  margin: auto 150px;
}
.skills{
  background-color: #E4F5F1;
  margin: auto;
}
.sbtp{
  opacity: 0.3;
}
.project{
  background-color: white;
  margin: auto 100px;
}
.project-design{
  padding: 20px;
  margin: auto;
}
.project-col{
  padding: 3% 2%;
}
.hobbie{
  background-color: #E4F5F9;
  margin: auto;
}
.footer{
  background-color: #66BFBF;
}
.horiz{
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 4px;
  width: 10%;
}

.container{
  font-size: 20px;
}
.btp{
  padding: 2% 0%;
}
#features{
  padding: 2% 5%;
}

#features-1{
  padding: 2% 14%;
}

#features-2{
  padding: 10% 10%;
}
.skillset{
  text-align: center;
  padding: 5%;
}
.footer-link{
  margin: 15px 15px 15px;
}
h1{
  font-size: 60px;
  font-family: 'Dancing Script', cursive;
}
h2{
  color: black;
  font-size: 35px;
}
h3{
  color: black;
  font-size: 25px;
}
p{
  color: #25282A;
  font-size: 18px;
}

@media(max-width:800px) {
  .top-img{
    height:40;
    width:40;
  }
  .dev-img{
    width: 45%;
  }
  .dev-img1{
    width: 45%;
  }
  .about{
    margin: auto;
  }
  .sbtp{
    width: 45%;
  }
  .foot-last{
    text-align: center;
  }
  p{
    font-size: 15px;
    text-align: justify;
  }
  h1{
    font-size: 25px;
  }
  h2
  {
    font-size: 20px;
  }
  h3{
    font-size: 15px;
  }
}


